.loading-container {
	height: 50vh;
}

.spinner {
	width: 4rem;
	height: 4rem;
	border: 0.4rem solid var(--bs-secondary);
	border-top: 0.4rem solid var(--bs-primary);
	border-right: 0.4rem solid var(--bs-info);
	border-bottom: 0.4rem solid var(--bs-success);
	border-left: 0.4rem solid var(--bs-primary);
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loading-container p {
	color: var(--bs-body-color);
	font-weight: 500;
	font-size: 1rem;
}

main {
	padding-top: 60px;
}

.theme-toggle-btn {
	width: 60px;
	height: 30px;
	border-radius: 9999px;
	background-color: var(--bs-secondary);
	border: none;
	position: relative;
	cursor: pointer;
	padding: 3px;
	display: flex;
	align-items: center;
	transition: background-color 0.3s;
}

.toggle-knob {
	width: 24px;
	height: 24px;
	background-color: var(--bs-body-bg);
	border-radius: 50%;
	position: absolute;
	top: 3px;
	left: 3px;
	transition: left 0.3s, background-color 0.3s;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.toggle-knob.dark {
	left: 33px;
	/* moves knob to the right */
}

.icon {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	color: var(--bs-body-color);
}

.icon.sun {
	left: 6px;
}

.icon.moon {
	right: 6px;
}